{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbontron text-center">
        <h1 class="mt-4">Agence Lorem Ipsum</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa modi alias sunt, facere mollitia fugit voluptatibus, voluptatum quasi excepturi porro aperiam blanditiis ullam, earum perferendis ad cum quisquam voluptatem dignissimos.</p>
    </div>

    <div class="container">
        <h2>Les derniers biens</h2>
        <div class="row flex">
            {% for property in properties %}
            <div class="col-md-4">
                {% include 'property/_property.html.twig' %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}