{% extends 'base.html.twig' %}

{% block title %}Tous nos biens{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbontron text-center">
        <h1 class="mt-4">Voir tous nos biens</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa modi alias sunt, facere mollitia fugit voluptatibus, voluptatum quasi excepturi porro aperiam blanditiis ullam, earum perferendis ad cum quisquam voluptatem dignissimos.</p>
    </div>
</div>

{% endblock %}